---
layout: default
title: Tags
---
<h1>Tags</h1>
<ul class="tags">
   {% for tag in site.tags %}
        <li>
            <a href="#{{tag[0]}}">{{tag[0] | capitalize }}</a>
        </li>
    {% endfor %} 
</ul>

<ul>
    {% for tag in site.tags %}
        <h2 id="{{tag[0]}}">{{tag[0] | capitalize }}</h2>

            {% for post in tag[1] %}
            <li class="post-preview">
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <a href="{{post.url}}" class="excerpt" title="{{post.title}}">{{post.excerpt}}</a>
                {% include read-more-btn.html link=post.url %}
                <hr>
            </li>
            {% endfor %}
    {% endfor %}
</ul>