<nav aria-label="Navigation">
    <!-- <span class="nav-heading">Site Navigation:</span> -->
    <ul>
        {% for item in site.data.navigation %}
            <!-- <li> -->
                {% if page.url == item.link %}
                    <a href="{{ item.link }}" class="current-page" aria-label="{{ item.name }}: Current page">{{ item.name }}</a>
                {% else %}
                    <a href="{{ item.link }}" >{{ item.name }}</a>
                {% endif %}
            <!-- </li> -->
        {% endfor %}
    </ul>
    <div class="bg"></div>
</nav>