$primary-light: #94C8CA;
$primary-light-2:#48969A;
$primary-dark: #167F6F;
$primary-dark-2: #3A988C;

$secondary-light: #B6D1D2;
$secondary-light-2: #6FA3A6;
$secondary-dark: #05382D;
$secondary-dark-2: #0A574D;

$white: #F2F2F4;
$light-grey: #C4C4CD;
$border-grey: #878794;
$shadow-grey: #636370;
$dark-grey: #343445;
$black: #0D0103;

$alert: #BC2865;
$warning: #DEB52A;
$success: #459F2D;