@import 'breakpoints';
@import 'fonts';
@import 'colors';

// --------------------------------------------------------
// Layout
// --------------------------------------------------------


main {
    margin: 0 auto;
    max-width: 95%;

    @media screen and (min-width: $mobile-max) {
        max-width: $mobile-max;
    }
}

nav {
    display: block;
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;

    @media screen and (min-width: $mobile-max) {
        text-align: left;
    }

    ul {
        display: block;
        margin: 2rem auto;
        max-width: $mobile-max;
        
        @media screen and (min-width: $mobile-max) {
            display: inline-block;
            justify-content: initial;
            margin: 0 1rem;
        }

        a {
            border-radius: 5px;
            display: inline-block;
            margin: 0 1px;
            padding: 0.4rem;
            white-space: nowrap;

            @media screen and (min-width: $mobile-max) {
                padding: 1rem;
            }
        }
    }

    div {
        clip-path: polygon(0px 0px, 86% 10%, 99.58% 94.25%, 10px 100%);
        position: absolute;
        height: 5rem;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -50;

        @media screen and (min-width: $mobile-max) {
            clip-path: polygon(0% 0%, 54.1% 0%, 78.53% 100%, 2% 79.25%);
        }

    }
}

footer {
    display: block;
    height: 4rem;
    width: 100%;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    opacity: 0;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
}

#snackbar {
    bottom: 1rem;
    left: 1rem;
    opacity: 1;
    padding: 1rem;
    position: fixed;
    transition: opacity 280ms;
    z-index: 20;
}

button {
    padding: 1rem;
}

div.share-post {
    text-align: center;

    @media screen and (min-width: $mobile-max) {
        text-align: left;
    }
}

// --------------------------------------------------------
// Type setting
// --------------------------------------------------------

html{
    font-size: 1rem;
    font-family: "Source Sans Pro", Helvetica, Arial sans-serif;    
}

nav {
    a {
        font-weight: 600;        
        text-decoration: none;
    }

    a.current-page {
        text-decoration: none;
    }
}



h1{
    font-family: "Junicode", "Palatino", serif;
    line-height: 1.4;
    font-size: 3rem;
    font-weight: 700;
}

h2{
    font-family: "Junicode", "Palatino", serif;
    line-height: 2;
    font-size: 2rem;
    font-weight: 400;
}

h3{
    font-family: "Source Sans Pro", Helvetica, Arial sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

section.intro p{
    font-family: "Junicode", "Palatino", serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

p{
    font-family: "Source Sans Pro", Helvetica, Arial sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    overflow-wrap: break-word;
}

a.excerpt, a.excerpt + .cta {
    font-family: "Source Sans Pro", Helvetica, Arial sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    text-decoration: none;
}

.posts {
    h3 a, a.cta {
        text-decoration: underline;
    }
    h3 a:hover, a.cta:hover {
        text-decoration: none;
    }
}

pre code{
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

// --------------------------------------------------------
// Color
// --------------------------------------------------------

html {
    background-color: $white;
    color: $dark-grey;
}

footer {
    background-color: $primary-dark;
}

nav {

    a {
        background-color: $white;
        color: $dark-grey;
    }

    a:hover {
        background-color: $light-grey;
        color: $secondary-dark;
    }

    .current-page {
        background-color: $light-grey;
        color: $secondary-dark;
    }

    .current-page:hover {
        background-color: $light-grey;
        color: $dark-grey;
    }

    div.bg {
        background-color: $primary-light;
        background-image: linear-gradient(10deg, $primary-dark, $primary-light);
    }

} 

h4 {
    color:$shadow-grey;
}

a {
    color: $primary-dark;
}

a:hover {
    color: $primary-dark-2;
}

.posts {
    h3 a:hover, a.cta:hover {
        color: $primary-dark-2;
    }
}

a.excerpt {
    color: $dark-grey;
}

a.excerpt:hover {
    color: $shadow-grey;
}

#snackbar {
    background-color: $secondary-dark;
    box-shadow: $shadow-grey 1px 1px 5px;
    color: $white;

}

button {
    background-color: $primary-dark;
    color: $white;
}