<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | Ben's Blog</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <a href="#main" class="visually-hidden">Skip to Content</a>
    <!-- <div class="a11y visually-hidden">
        <p class="alert" aria-live="assertive"></p>
        <p class="feedback" aria-live="polite"></p>
    </div> -->
    <div id="alert" aria-live="assertive" hidden>
        <span class="label">This is an example of a snackbar</span>
    </div>
    <div id="snackbar" class="accessibility-feedback visually-hidden" aria-live="polite">
        <span class="label">This is an example of a snackbar</span>
        <!-- <span class="cta"></span> -->
    </div>
    {% include navigation.html %}
    <main id="main">
        {{ content }}
    </main>

    <footer>
        <div class="color-block"></div>
    </footer>
    
    <script async src="/assets/js/main.js"></script>
</body>

</html>